<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#c00c1a" />
    <title>ثبت ملک</title>
    <link rel="stylesheet" href="asset/css/bootstrap.rtl.full.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel='stylesheet' id='responsive-css-css'  href='asset/css/responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css-css'  href='asset/css/main.css' type='text/css' media='all' />
    <link rel='stylesheet' id='rtl-main-css-css'  href='asset/css/rtl-main.css' type='text/css' media='all' />
    <link rel='stylesheet' id='custom-responsive-css-css'  href='asset/css/custom-responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' id='rtl-custom-responsive-css-css'  href='asset/css/rtl-custom-responsive.css' type='text/css' media='all' />

</head>
<body>
<section id="header">
    <!-- Start Header -->

    <header id="menubar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-1 col-xs-8">
                    <div class="content-menu">
                        <div class="nav-btn">
                            <label for="nav-check">
                                <span></span>
                                <span></span>
                                <span></span>
                            </label>
                        </div>
                        <input type="checkbox" id="nav-check">
                        <ul class="nav-links">

                            <li class="dropdown">
                                <a href="#">ثبت ملک<i class="fa fa-caret-down"></i></a>
                                <div class="dropdown-content">
                                    <a href="#">  برای فروش ملک</a>
                                    <a href="#">  برای رهن و اجاره ملک</a>
                                </div>
                            </li>

                            <li class="dropdown">
                                <a href="#">درخواست ملک<i class="fa fa-caret-down"></i></a>
                                <div class="dropdown-content">
                                   <a href="#"> درخواست خرید ملک</a>
                                    <a href="#"> درخواست اجاره ملک</a>
                                </div>
                            </li>

                            <li><a href="#">تماس با ما</a></li>
                            <li><a href="#">صفحه اصلی</a></li>
                        </ul>
                        <div class="col-md-4 col-md-offset-0 col-xs-7 col-xs-offset-3" >
                            <div class="city select">
                                <select name="city" id="city">
                                    <option value="">قزوین</option>
                                    <option value="">آوج</option>
                                    <option value="">آبیک</option>
                                    <option value="">آبگرم</option>
                                    <!--<option value="">اقبالیه</option>-->
                                    <!--<option value="">ارداق</option>-->
                                    <!--<option value="">الوند</option>-->
                                    <!--<option value="">بیدستان</option>-->
                                    <!--<option value="">تاکستان</option>-->
                                    <!--<option value="">دانسفهان</option>-->
                                    <!--<option value="">سیردان</option>-->
                                    <!--<option value="">شریفیه</option>-->
                                    <!--<option value="">شال</option>-->
                                    <!--<option value="">ضیاآیاد</option>-->
                                    <!--<option value="">محمدیه</option>-->
                                    <!--<option value="">مهرگان</option>-->
                                </select>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-sm-3 col-xs-4 nopadding">
                    <div class="logo">
                        <img src="asset/images/logo.png" alt="" class="image-responsive">

                    </div>
                </div>
                <!-- menu ends -->
            </div>
        </div>
    </header>
    <!-- header ends -->
</section>


<section id="content">

    <div id="msform">
        <div id="progressbar">

            <div class="logo-breadcrumb"><img src="asset/images/registerhome-icon.png" alt=""></div>
            <span class="text-breadcrumb">فرم ثبت درخواست ملک</span>

        </div>
        <fieldset class="register-city">
            <h2 class="fs-title">یکی از شهرهای زیر را انتخاب کنید: </h2>

            <input type="button" name="next" class="next action-button" data-value="1" value="قزوین"/>
            <input type="button" name="next" class="next action-button" data-value="2" value="آبیک"/>
            <input type="button" name="next" class="next action-button" data-value="3" value="تاکستان"/>
            <input type="button" name="next" class="next action-button" data-value="4" value="آوج"/>
            <input type="button" name="next" class="next action-button" data-value="5" value="محمدیه"/>
            <input type="button" name="next" class="next action-button" data-value="6" value="مهرگان"/>
            <input type="button" name="next" class="next action-button" data-value="7" value="شال"/>
            <input type="button" name="next" class="next action-button" data-value="8" value="شریفیه"/>
            <input type="button" name="next" class="next action-button" data-value="9" value="ضیاآباد"/>
            <input type="button" name="next" class="next action-button" data-value="10" value="آبگرم"/>
            <input type="button" name="next" class="next action-button" data-value="11" value="دانسفهان"/>
            <input type="button" name="next" class="next action-button" data-value="12" value="بیدستان"/>
        </fieldset>
        <fieldset class="register-state">
            <h2 class="fs-title">یکی از گزینه های زیر را انتخاب کنید: </h2>
            <input type="button" name="next" class="next action-button apartment-btn" value="آپارتمان"/>
            <input type="button" name="next" class="next action-button" value="خانه/ویلایی"/>
            <input type="button" name="next" class="next action-button" value="زمین"/>
            <input type="button" name="next" class="next action-button" value="کلنگی"/>
            <input type="button" name="next" class="next action-button" value="اداری"/>
            <input type="button" name="next" class="next action-button" value="مغازه/تجاری"/>
            <input type="button" name="next" class="next action-button" value="باغ/کشاورزی"/>
            <input type="button" name="next" class="next action-button" value="کارخانه/کارگاه"/>
            <input type="button" name="previous" class="previous action-button-previous" value="بازگشت"/>
            <i class="fa fa-arrow-left"></i>
        </fieldset>


        <fieldset class="register-form">
            <form id="register-form">
                <div class="info-person">
                    <h2 class="ff-title">اطلاعات  درخواست کننده</h2>

                    <div  class="show-person">
                        <div class="col-sm-3 col-xs-12 mb20">
                            <div class="field placeholder">
                                <label for="LastName" class="active">نام خانوادگی</label>
                                <input id="LastName"  maxlength="50" name="LastName" type="text" value="" placeholder=""
                                       data-rule-required="true"
                                       data-msg-required="این فیلد الزامی است"
                                >

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12 mb20">
                        <div class="field placeholder">
                            <label for="phone" class="active">تلفن همراه</label>
                            <input id="phone" name="phone" type="text" data-category="quantity" value="" placeholder=""
                                   data-rule-required="true"
                                   data-msg-required="این فیلد الزامی است"
                                   data-rule-pattern="(0|\+98)?([ ]|-|[()]){0,2}9[1|2|3|4]([ ]|-|[()]){0,2}(?:[0-9]([ ]|-|[()]){0,2}){8}"
                                   data-msg-pattern="شماره صحیح نیست">

                        </div>
                    </div>
                    <div class="show-person">
                        <div class="col-sm-6 col-xs-12 mb20">
                            <div class="field placeholder">
                                <label class="active">ایمیل</label>
                                <input  name="email" type="email" value="" placeholder=""
                                        data-rule-required="true"
                                        data-msg-required="این فیلد الزامی است"
                                        email="true"
                                        data-msg-email="آدرس ایمیل صحیح نیست" >

                            </div>
                        </div>
                    </div>


                </div>
                <div class="info-state">

                    <h2 class="ff-title">    اطلاعات ملک درخواستی</h2>


                    <div class="container-fluid pr0">
                        <div class="col-sm-3 col-xs-12 mb20">
                            <div class="field placeholder">
                                <label for="location" class="active">منطقه</label>
                                <select id="location" class="label"  name="location" data-rule-required="true"
                                        data-msg-required="این فیلد الزامی است">
                                    <option value="" hidden>انتخاب کنید</option>
                                    <option class="light-gray" value="1">بالای شهر</option>
                                    <option class="light-gray" value="2">پایین شهر</option>
                                    <option class="light-gray" value="3">مرکز شهر</option>
                                    <option class="light-gray" value="4"> ملاصدرا</option>
                                    <option class="light-gray" value="5"> دانشگاه</option>
                                    <option class="light-gray" value="6"> سرتک</option>
                                    <option class="light-gray"  value="7"> بلوار</option>
                                    <option class="light-gray" value="8"> شهر</option>
                                    <option class="light-gray" value="9">خارج شهر</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3 col-xs-6 mb20">
                        <div class="field placeholder">
                            <label for="min-price" class="active">حداقل قیمت  (تومان)</label>
                            <input id="min-price" class="currency" name="total-price" type="text" data-category="quantity" value="" placeholder=""
                                   data-rule-required="true"
                                   data-msg-required="این فیلد الزامی است">

                        </div>
                    </div>

                    <div class="col-sm-3 col-xs-6 mb20">
                        <div class="field placeholder">
                            <label for="max-price" class="active"> حداکثر قیمت (تومان)</label>
                            <input id="max-price" class="currency" name="total-price" type="text" data-category="quantity" value="" placeholder=""
                                   data-rule-required="true"
                                   data-msg-required="این فیلد الزامی است">

                        </div>
                    </div>



                    <div class="col-sm-3 col-xs-6 mb20">
                        <div class="field placeholder">
                            <label for="min-area" class="active">حداقل متراژ (متر مربع)</label>
                            <input  id="min-area" class="currency" name="area" type="text" data-category="quantity" value="" placeholder=""
                                    data-rule-required="true"
                                    data-msg-required="این فیلد الزامی است">

                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 mb20">
                        <div class="field placeholder">
                            <label for="max-area" class="active">حداکثر متراژ (متر مربع)</label>
                            <input  id="max-area" class="currency" name="area" type="text" data-category="quantity" value="" placeholder=""
                                    data-rule-required="true"
                                    data-msg-required="این فیلد الزامی است">

                        </div>
                    </div>


                    <div class="state-apartment" style="display: none">
                        <div class="col-sm-3 col-xs-6 mb20">
                            <div class="field placeholder">
                                <label for="count-room" class="active">تعداد اتاق</label>

                                <input id="count-room" name="count-room" type="text" data-category="quantity" value="" placeholder=""
                                       data-rule-required="true"
                                       data-msg-required="این فیلد الزامی است">
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12 mb20">
                            <div class="col-md-6 col-xs-12 checkbox pr0 mt15 ">
                                <label class="register-facility">
                                    <input type="checkbox" name="elevator">
                                    حتما آسانسور دار باشد
                                </label>
                            </div>
                            <div class="col-md-6 col-xs-12 checkbox pr0 mt15">
                                <label class="register-facility">
                                    <input type="checkbox"  name="parking">
                                    حتما پارکینگ دار باشد
                                </label>
                            </div>
                        </div>
                    </div>


                    <div class="form-group-btn">
                        <input type="button" name="previous" class="previous action-button-previous" value="بازگشت"/>
                        <button type="submit" name="submit" class="action-button" value="Submit" onclick="window.location.href='list-darkhast.html'">  ثبت درخواست</button>
                    </div>

                </div>
            </form>
        </fieldset>
    </div> <!--end id=msform-->
</section>

<script src="asset/js/jquery.min.js"></script>
<script src='asset/js/custom.js'></script>
<script src='asset/js/bootstrap.min.js'></script>
<script src="asset/js/jquery.easing.min.js"></script> <!--only for this page-->
<script src="asset/js/jquery.validate.min.js"></script><!--only for this page-->

<script>
    //jQuery time
    var current_fs, next_fs, previous_fs; //fieldsets
    var left, opacity, scale; //fieldset properties which we will animate
    var animating; //flag to prevent quick multi-click glitches


    $(".next").click(function(){
        // alert($(this).attr("data-value"));
        if(animating) return false;
        animating = true;

        current_fs = $(this).parent();
        next_fs = $(this).parent().next();

        //activate next step on progressbar using the index of next_fs
        $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

        //show the next fieldset
        next_fs.show();
        //hide the current fieldset with style
        current_fs.animate({opacity: 0}, {
            step: function(now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale current_fs down to 80%
                scale = 1 - (1 - now) * 0.2;
                //2. bring next_fs from the right(50%)
                left = (now * 50)+"%";
                //3. increase opacity of next_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({
                    'transform': 'scale('+scale+')',
                    'position': 'absolute'
                });
                next_fs.css({'left': left, 'opacity': opacity});
            },
            duration: 800,
            complete: function(){
                current_fs.hide();
                animating = false;
            },
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
    });

    $(".previous").click(function(){
        if(animating) return false;
        animating = true;

        current_fs = $(this).parent();
        previous_fs = $(this).parent().prev();

        //de-activate current step on progressbar
        $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

        //show the previous fieldset
        previous_fs.show();
        //hide the current fieldset with style
        current_fs.animate({opacity: 0}, {
            step: function(now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale previous_fs from 80% to 100%
                scale = 0.8 + (1 - now) * 0.2;
                //2. take current_fs to the right(50%) - from 0%
                left = ((1-now) * 50)+"%";
                //3. increase opacity of previous_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({'left': left});
                previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
            },
            duration: 800,
            complete: function(){
                current_fs.hide();
                animating = false;
            },
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
    });

    $(".submit").click(function(){
        return false;
    })



    // change color of selected option
    $('select.label').change(function(){
        $(this).css('color', '#3fb92b');
    });

    $("#register-form").validate();

    // $('.apartment-btn').on('click',function () {
    //     $('.state-apartment').css("display", "block");
    // })




    // seprate 3 digit of numbers
    $(document).ready(function(){
        //apply on typing and focus
        $('input.currency').on('blur',function(){
            $(this).manageCommas();
        });
        //then sanatize on leave
        // if sanitizing needed on form submission time,
        //then comment beloc function here and call in in form submit function.
        $('input.currency').on('focus',function(){
            $(this).santizeCommas();
        });
    });

    String.prototype.addComma = function() {
        return this.replace(/(.)(?=(.{3})+$)/g,"$1,")
    }
    //Jquery global extension method
    $.fn.manageCommas = function () {
        return this.each(function () {
            $(this).val($(this).val().replace(/(,| )/g,'').addComma());
        })
    }

    $.fn.santizeCommas = function() {
        return $(this).val($(this).val().replace(/(,| )/g,''));
    }




    // regex only number for some input
    $(".currency").on("keypress keyup blur",function (event) {
        $(this).val($(this).val().replace(/[^\d].+/, ""));
        if ((event.which < 48 || event.which > 57)) {
            event.preventDefault();
        }
    });

</script>

</body>
</html>