
<!doctype html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <meta name="theme-color" content="#c00c1a" />
    <title data-react-helmet="true">املاک 79</title>
    <link rel="stylesheet" href="asset/css/bootstrap.rtl.full.min.css">
    <link href="asset/css/singleshow.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel='stylesheet' id='main-css-css'  href='asset/css/main.css' type='text/css' media='all' />
    <link rel='stylesheet' id='rtl-main-css-css'  href='asset/css/rtl-main.css' type='text/css' media='all' />

</head>
<body>
<section id="modal">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">نوع درخواست </h4>
                </div>
                <div class="modal-body">
                    <a href="sabt-darkhast.html" class="btn btn-success" role="button">  درخواست خرید ملک</a>
                    <a href="sabt-darkhast.html" class="btn btn-success" role="button">  درخواست اجاره ملک</a>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="header">
    <!-- Start Header -->

    <header id="menubar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-1 col-xs-8">
                    <div class="content-menu">
                        <div class="nav-btn">
                            <label for="nav-check">
                                <span></span>
                                <span></span>
                                <span></span>
                            </label>
                        </div>
                        <input type="checkbox" id="nav-check">
                        <ul class="nav-links">

                            <li class="dropdown">
                                <a href="#">ثبت ملک<i class="fa fa-caret-down"></i></a>
                                <div class="dropdown-content">
                                    <a href="#">  برای فروش ملک</a>
                                    <a href="#">  برای رهن و اجاره ملک</a>
                                </div>
                            </li>

                            <li class="dropdown">
                                <a href="#">درخواست ملک<i class="fa fa-caret-down"></i></a>
                                <div class="dropdown-content">
                                    <a href="#"> درخواست خرید ملک</a>
                                    <a href="#"> درخواست اجاره ملک</a>
                                </div>
                            </li>

                            <li><a href="#">تماس با ما</a></li>
                            <li><a href="#">صفحه اصلی</a></li>
                        </ul>
                        <div class="col-md-4 col-md-offset-0 col-xs-7 col-xs-offset-3" >
                            <div class="city select">
                                <select name="city" id="city">
                                    <option value="">قزوین</option>
                                    <option value="">آوج</option>
                                    <option value="">آبیک</option>
                                    <option value="">آبگرم</option>
                                    <!--<option value="">اقبالیه</option>-->
                                    <!--<option value="">ارداق</option>-->
                                    <!--<option value="">الوند</option>-->
                                    <!--<option value="">بیدستان</option>-->
                                    <!--<option value="">تاکستان</option>-->
                                    <!--<option value="">دانسفهان</option>-->
                                    <!--<option value="">سیردان</option>-->
                                    <!--<option value="">شریفیه</option>-->
                                    <!--<option value="">شال</option>-->
                                    <!--<option value="">ضیاآیاد</option>-->
                                    <!--<option value="">محمدیه</option>-->
                                    <!--<option value="">مهرگان</option>-->
                                </select>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-sm-3 col-xs-4 nopadding">
                    <div class="logo" style="text-align:left;padding-left:20%">
                        <img src="asset/images/logo.png" alt="" class="image-responsive">

                    </div>
                </div>
                <!-- menu ends -->
            </div>
        </div>
    </header>
    <!-- header ends -->
</section>






<section id="content">

    <div class="app-wrapper" data-reactroot="">



        <div class="col-md-10 col-md-offset-1 col-xs-12 single-show">

            <div class="post-page">


                <div class="ui fluid card breadcrumb-container">
                    <div class="content">
                        <button class="ui button back-button" role="button">بازگشت</button>
                        <div class="ui breadcrumb">
                                        <span>
                                            <div class="section">
                                                <a title="همه آگهی ها" href="#">همه آگهی ها</a>
                                            </div>
                                        </span>
                            <span>/<div class="section">
                                            <a title="آپارتمان" href="#">آپارتمان</a>
                                        </div>
                                        </span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-5 col-xs-12">

                        <div class="ui fluid card post-info business-card"><div class="content">
                            <h1>آپارتمان به متراژ 97 متر خیام شمالی</h1>

                            <span class="publishTime">لحظاتی پیش</span>
                        </div>
                        </div>
                        <div class="ui fluid card post-actions">
                            <div class="content">
                                <div class="post-contact-methods">
                                    <button class="ui button get-contact" role="button">دریافت اطلاعات تماس</button>
                                </div><button class="ui button bookmark" role="button">نشان کردن</button>
                            </div>
                        </div>
                        <div class="ui fluid card post-fields">
                            <div class="content">
                                <div class="info-home">
                                    <div class="item">
                                        <label>متراژ</label>
                                        <div class="value"> 100 متر</div>
                                    </div>
                                    <div class="item">
                                        <label>قیمت کل</label>
                                        <div class="value">۱۰۰٫۰۰۰ تومان</div>
                                    </div>
                                    <div class="item">
                                        <label>قیمت متر مربع</label>
                                        <div class="value">50٫۰۰۰ تومان</div>
                                    </div>
                                    <div class="item">
                                        <label>سریال ملک</label>
                                        <div class="value">17287 </div>
                                    </div>



                                    <div class="item">
                                        <label>تعداد واحد</label>
                                        <div class="value">10 </div>
                                    </div>
                                    <div class="item">
                                        <label>تعداد اتاق</label>
                                        <div class="value"> 3</div>
                                    </div>
                                    <div class="item">
                                        <label>طبقه</label>
                                        <div class="value">4 </div>
                                    </div>
                                    <div class="item">
                                        <label>عمر بنا</label>
                                        <div class="value">10 سال </div>
                                    </div>
                                </div>
                                <div class="show-facilities">
                                    <div class="item">
                                        <label>امکانات</label>
                                    </div>
                                    <div class="item col-md-6 col-xs-6">
                                        <label>پارکینگ</label>
                                    </div>
                                    <div class="item col-md-6 col-xs-6">
                                        <label>آسانسور</label>
                                    </div>
                                    <div class="item col-md-6 col-xs-6">
                                        <label>انباری</label>
                                    </div>
                                    <div class="item col-md-6 col-xs-6">
                                        <label>وام</label>
                                    </div>
                                    <div class="item col-md-6 col-xs-6">
                                        <label>معاوضه</label>
                                    </div>
                                    <div class="item col-md-6 col-xs-6">
                                        <label>کابینت</label>
                                    </div>
                                    <div class=" col-md-12 col-xs-12 extra-explain">
                                        <label>مورد معامله دارای آسانسور پارکینگ آسانسور ایتالیایی پارکت و کاغذ دیواری به خریدار واقعی تخفیف پای معامله داده میشود</label>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                    <div class="col-md-7 col-xs-12">




                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="asset/images/home10.jpg" class="img-responsive">

                                </div>
                                <!-- End Item -->
                                <div class="item">
                                    <img src="asset/images/home7.jpg" class="img-responsive">

                                </div>
                                <!-- End Item -->
                                <div class="item">
                                    <img src="asset/images/home8.jpg" class="img-responsive">

                                </div>
                                <!-- End Item -->
                                <div class="item">
                                    <img src="asset/images/home9.jpg" class="img-responsive">

                                </div>
                                <div class="item">
                                    <img src="asset/images/home5.jpg" class="img-responsive">

                                </div>
                                <!-- End Item -->
                            </div>
                            <!-- End Carousel Inner -->
                            <ul class="nav nav-pills nav-justified">
                                <li data-target="#myCarousel" data-slide-to="0" class="w20 active"><a href="#"><img src="asset/images/home10.jpg" class="img-responsive"></a></li>
                                <li data-target="#myCarousel" class="w20" data-slide-to="1"><a href="#"><img src="asset/images/home7.jpg" class="img-responsive"></a></li>
                                <li data-target="#myCarousel" class="w20" data-slide-to="2"><a href="#"><img src="asset/images/home8.jpg" class="img-responsive"></a></li>
                                <li data-target="#myCarousel" class="w20" data-slide-to="3"><a href="#"><img src="asset/images/home9.jpg" class="img-responsive"></a></li>
                                <li data-target="#myCarousel" class="w20" data-slide-to="4"><a href="#"><img src="asset/images/home5.jpg" class="img-responsive"></a></li>
                            </ul>
                        </div>
                        <!-- End Carousel -->


                        <div class="post-guidelines-container">
                            <div class="post-guidelines">
                                <p>
                                    هنوز ملک خود را پیدا نکرده اید؟!                                        </p>
                                <a href="#" data-toggle="modal" data-target="#myModal"> اینجا کلیک کنید</a>
                                تا ملک های جدید برای شما ارسال شود.
                                <div class="ui divider"></div>




                                <div class="virtual-tour">
                                    <button class="ui button" role="button"><i class="fa fa-video-camera"></i>   نمایش فیلم</button>

                                </div>

                                <div class="home-video">
                                    <button class="ui button" role="button"><i class="fa fa-film"></i>   نمایش تور مجازی</button>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>


    <div class="col-md-12 same-adver">
        <!--<div class="ui divider"></div>-->
        <div class="text-slider-show">افرادی که این ملک را جستجو کرده اند موارد زیر را نیز مشاهده کرده اند.</div>
        <div class="row multi-slider">
            <div class="col-md-12 col-lg-12">
                <div class="carousel carousel-showmanymoveone slide multi-item-carousel" id="theCarousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-xs-12 col-sm-6 col-md-4">

                                <a href="#">
                                    <div class="index-item">

                                        <div class="item-body clearfix">
                                            <a href="#" target="_blank" class="thumbnail">
                                                <div class="ribbon-box">
                                                    <p>ویژه</p>
                                                    <span class="ribbon"></span>
                                                </div>
                                                <img src="asset/images/1.jpg" alt="فروش آپارتمانی به متراژ ۲۰۶ خیام شمالی">
                                                <div class="textonimg">اجاره:800,000 تومان </div>

                                            </a>

                                            <div class="content">
                                                <a href="#" target="_blank">
                                                    <p class="title-home">فروش آپارتمانی به متراژ <span class="name">79</span> خیام شمالی</p>
                                                </a>

                                                <p class="home-facility">
                                                    4  واحده  |  طبقه 3 |
                                                    2 ساله     </p>
                                                <p class="facilities"> آسانسور | پارکینگ </p>
                                                <a href="#" target="_blank">
                                                    <span class="price-home">  رهن:<span class="title price">1,563,000,000</span>     تومان </span>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>
                        <div class="item">
                            <div class="col-xs-12 col-sm-6 col-md-4">

                                <a href="#" >
                                    <div class="index-item">
                                        <div class="item-body clearfix">
                                            <a href="#" target="_blank" class="thumbnail">
                                                <img src="asset/images/4.jpg" alt="فروش آپارتمانی به متراژ ۲۰۶ خیام شمالی">
                                            </a>
                                            <div class="content ">
                                                <a href="#" target="_blank">
                                                    <p class="title-home">فروش آپارتمانی به متراژ <span class="name">200</span>  پونک</p>
                                                </a>



                                                <p class="home-facility">
                                                    4  واحده  |  طبقه 3 |

                                                    2 ساله     </p>


                                                <p class="facilities"> آسانسور | پارکینگ </p>

                                                <a href="#" target="_blank">
                                                    <span class="price-home">  <span class="title price">1,770,000,000</span>    تومان </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </a>


                            </div>
                        </div>
                        <div class="item">
                            <div class="col-xs-12 col-sm-6 col-md-4">


                                <a href="#" >
                                    <div class="index-item">
                                        <div class="item-body clearfix">

                                            <a href="#" target="_blank" class="thumbnail">
                                                <div class="ribbon-box">
                                                    <p>ویژه</p>
                                                    <span class="ribbon"></span>
                                                </div>
                                                <img src="asset/images/2.jpg" alt="فروش آپارتمانی به متراژ ۲۰۶ خیام شمالی">
                                            </a>

                                            <div class="content ">
                                                <a href="#" target="_blank">
                                                    <p class="title-home">فروش آپارتمانی به متراژ <span class="name">76</span>  بلوار سعادت</p>
                                                </a>


                                                <p class="home-facility">
                                                    4  واحده  |  طبقه 3 |

                                                    2 ساله     </p>


                                                <p class="facilities"> آسانسور | پارکینگ </p>
                                                <a href="#" target="_blank">
                                                    <span class="price-home"> <span class="title price">100,000,000</span>    تومان  </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>
                        <div class="item">
                            <div class="col-xs-12 col-sm-6 col-md-4">


                                <a href="#">
                                    <div class="index-item">

                                        <div class="item-body clearfix">
                                            <a href="#" target="_blank" class="thumbnail">
                                                <div class="ribbon-box">
                                                    <p>ویژه</p>
                                                    <span class="ribbon"></span>
                                                </div>
                                                <img src="asset/images/1.jpg" alt="فروش آپارتمانی به متراژ ۲۰۶ خیام شمالی">
                                                <div class="textonimg">اجاره:800,000 تومان </div>

                                            </a>

                                            <div class="content">
                                                <a href="#" target="_blank">
                                                    <p class="title-home">فروش آپارتمانی به متراژ <span class="name">79</span>  دانشگاه</p>
                                                </a>

                                                <p class="home-facility">
                                                    4  واحده  |  طبقه 3 |
                                                    2 ساله     </p>
                                                <p class="facilities"> آسانسور | پارکینگ </p>
                                                <a href="#" target="_blank">
                                                    <span class="price-home">  رهن:<span class="title price">1,563,000,000</span>     تومان </span>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </a>


                            </div>
                        </div>

                    </div>
                    <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="fa fa-caret-right fa-2x"></i></a>
                    <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="fa fa-caret-left fa-2x"></i></a>
                </div>
            </div>
        </div>

    </div>
</section>



<!--<section id="footer">-->
<!--<div class="footer-nav">-->
<!--<div class=" text-center">-->
<!--<ul class="menu-footer font-xsmall">-->
<!--<li><a href="#" title=" صفحه اصلی"> صفحه اصلی</a></li>-->
<!--<li><a href="#" title="درباره ما">درباره ما</a></li>-->
<!--<li><a href="#" title="تماس با ما">تماس با ما</a></li>-->
<!--<li><a href="#" title="همکاری با ما">   همکاری با ما</a></li>-->
<!--<li><a href="#" title="شرایط و قوانبن">  شرایط و قوانبن</a></li>-->

<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--<footer id="footer-wrapper">-->

<!--<div id="footer-info"  style="text-align: center">-->

<!--<div class="row copy-right">-->
<!--<div class="col-lg-6 col-xs-12">-->

<!--<address class="address">-->
<!--<b>آدرس:</b> قزوین  خیابان شهید مدنی شرقی اول- کوچه ثالث-->
<!--<br><br>-->
<!--<b>تلفن:</b>   33333333-44444444-->
<!--</address>-->
<!--<p>-->
<!--کلیه حقوق مادی و معنوی این وبسایت متعلق به گروه املاک 79 می&zwnj;باشد. <span class="bamjoo">(  املاک 79)</span>-->
<!--</p>-->
<!--<p>-->
<!--هر گونه کپی برداری از محتوا و طرح های به کار رفته در این وبسایت طبق قانون حقوق مولفین پیگرد قانونی خواهد داشت.-->
<!--</p>-->
<!--</div>-->


<!--<div class="col-lg-3 col-xs-12">-->
<!--<div class="social-network">-->
<!--<i class="fa fa-telegram fa-3x"></i>-->
<!--<i class="fa fa-instagram fa-3x"></i>-->
<!--<i class="fa fa-google-plus fa-3x"></i>-->
<!--</div>-->
<!--</div>-->


<!--<div class="col-lg-3 col-xs-12">-->
<!--<div class="v-middle-text">-->
<!--<img src="asset/images/safe-tech.png" alt="">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<!--</div>-->
<!--</footer>&lt;!&ndash; End Footer &ndash;&gt;-->
<!--</section>-->


<script src="asset/js/jquery.min.js"></script>
<script src="asset/js/bootstrap.min.js"></script>


<script>
    $(document).ready( function() {
        $('#myCarousel').carousel({
            interval:   4000
        });

        var clickEvent = false;
        $('#myCarousel').on('click', '.nav a', function() {
            clickEvent = true;
            $('.nav li').removeClass('active');
            $(this).parent().addClass('active');
        }).on('slid.bs.carousel', function(e) {
            if(!clickEvent) {
                var count = $('.nav').children().length -1;
                var current = $('.nav li.active');
                current.removeClass('active').next().addClass('active');
                var id = parseInt(current.data('slide-to'));
                if(count == id) {
                    $('.nav li').first().addClass('active');
                }
            }
            clickEvent = false;
        });
    });
</script>
<script>
    (function(){
        jQuery('#theCarousel').carousel();

    }());

    (function(){
        jQuery('.carousel-showmanymoveone .item').each(function(){
            var itemToClone = jQuery(this);

            for (var i=1;i<3;i++) {
                itemToClone = itemToClone.next();

                // wrap around if at end of item collection
                if (!itemToClone.length) {
                    itemToClone = jQuery(this).siblings(':first');
                }

                // grab item, clone, add marker class, add to collection
                itemToClone.children(':first-child').clone()
                    .addClass("cloneditem-"+(i))
                    .appendTo(jQuery(this));
            }
        });
    }());

    (function() {
        jQuery('.carousel-showmanymoveone').carousel({
            interval: false
        });
    }());
</script>
</body>
</html>


